@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 80% 4%;
    --border: 240 11% 89%;
    --input: 240 100% 99%;
    --ring: 240 100% 50%;

    --card: 240 100% 99%;
    --card-foreground: 240 80% 4%;
    --popover: 240 100% 99%;
    --popover-foreground: 240 80% 4%;

    --primary: 240 80% 4%;
    --primary-foreground: 240 100% 99%;
    --secondary: 240 8% 32%;
    --secondary-foreground: 240 100% 99%;
    --tertiary: 240 4% 51%;
    --tertiary-foreground: 240 100% 99%;

    --muted: 240 0% 50%;
    --muted-foreground: 240 100% 99%;

    --accent: 240 10% 94%;
    --accent-foreground: 240 80% 4%;
    --accent-light: 240 24% 97%;
    --accent-blue: 219 100% 97.5%;
    --accent-red: 1 100% 97%;

    --destructive: 1 97% 30%;
    --destructive-foreground: 240 100% 99%;

    --brand: 240 100% 50%;
    --brand-foreground: 240 100% 99%;

    /* Radius */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    position: fixed;
    width: 100%;
    height: 100%;
  }

  h1 {
    @apply text-[42px] font-semibold leading-[50px] tracking-normal;
  }
  
  h2 {
    @apply text-[34px] font-semibold leading-[44px] tracking-normal;
  }
  
  h3 {
    @apply text-[28px] font-semibold leading-[36px] tracking-normal;
  }
  
  h4 {
    @apply text-[24px] font-medium leading-[34px] tracking-normal;
  }
  
  h5 {
    @apply text-[20px] font-medium leading-[28px] tracking-normal;
  }
  
  h6 {
    @apply text-[16px] font-normal leading-[24px] tracking-wide;
  }

  p {
    @apply text-[14px] font-normal leading-[20px] tracking-wide;
  }

  small {
    @apply text-[12px] font-normal leading-[18px] tracking-wide;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
  -webkit-box-shadow: 0 0 0 1000px hsl(var(--accent-blue)) inset !important;
  caret-color: hsl(var(--foreground)) !important;
  transition: none !important;
}

input:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
  -webkit-box-shadow: 0 0 0 1000px hsl(var(--accent-blue)) inset, 0 0 0 1px hsl(var(--ring)) !important;
  caret-color: hsl(var(--foreground)) !important;
  transition: none !important;
}

/* Date picker */
.rdp-tbody .rdp-button {
  border-radius: 100%;
}

.aria-selected\:text-accent-foreground[aria-selected="true"] {
  border-radius: 0px;
}

@layer utilities {
  .type-h1 {
    @apply text-[42px] font-semibold leading-[50px] tracking-normal;
  }
  
  .type-h2 {
    @apply text-[34px] font-semibold leading-[44px] tracking-normal;
  }

  .type-h3 {
    @apply text-[28px] font-semibold leading-[36px] tracking-normal;
  }
  
  .type-h4 {
    @apply text-[24px] font-medium leading-[34px] tracking-normal;
  }
  
  .type-h5 {
    @apply text-[20px] font-medium leading-[28px] tracking-normal;
  }
  
  .type-h6 {
    @apply text-[16px] font-medium leading-[24px] tracking-wide;
  }
  
  .type-p {
    @apply text-[14px] font-normal leading-[20px] tracking-wide;
  }
  
  .type-small {
    @apply text-[12px] font-normal leading-[18px] tracking-wide;
  }
}