project_id = "create-v1"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public"]
max_rows = 100

[auth]
site_url = "env(APP_URL)"
additional_redirect_urls = ["env(APP_URL)", "env(ADDITIONAL_REDIRECT_URL)"]
jwt_expiry = 36000

[auth.hook.send_email]
enabled = true
uri = "env(SEND_EMAIL_HOOK_URI)"
secrets = "env(SEND_EMAIL_HOOK_SECRET)"

[functions.send-email]
verify_jwt = false

[db]
port = 54322

[studio]
port = 54323

[auth.external.google]
enabled = true
client_id = "env(GOOGLE_CLIENT_ID)"
secret = "env(GOOGLE_SECRET)"
redirect_uri = "env(GOOGLE_REDIRECT_URI)"

[analytics]
enabled = true
port = 54327
vector_port = 54328
backend = "postgres"
