app = 'avelero-api'
primary_region = 'ams'

[build]

[env]
  PORT = '3000'
  NODE_ENV = 'production'
  ALLOWED_API_ORIGINS = 'https://avelero-app-preview-9215.vercel.app/,https://avelero.vercel.app'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = "10s"
    interval = "45s"
    method = "GET"
    timeout = "10s"
    path = "/health"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
